
    .subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right:8px;
    transition: opacity 0.15s;
    }

    .subscribe-button:hover {
        opacity:0.75;
    }

    .subscribe-button:active {
        opacity: 0.5;
    }

    .join-button {

    background-color:white;
    color: rgb(12, 107, 175);

    border-color: rgb(12, 107, 175);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
        
    height: 36px;
    width: 62px;

    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: color 0,5s;

    }

    .join-button:hover {
        background-color: rgb(12, 107, 175);
        color:white;
    }

    .join-button:active {
        opacity:0.7;
    }


    .tweet-button {
    background-color: rgb(55, 169, 234);
    color: white;
    border-radius: 25px;
    border-width: 0;
    
    font-size: 15px;
    font-weight: bold;

    height: 36px;
    width: 70px;
    margin-left: 8px;
    cursor:pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.151);
    }

.amazon {
    color: rgb(0,113,133);
}

.nike {
    font-weight: bold;
}

.in-stock { 
    color: rgb(0,118,0);
}

.add {
    background-color:rgb(255, 216, 20);

    font-size: 15px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;


    border-radius: 15px;
    border: 0px;
    
}